Целевой переменной является уровень дохода income (крайний правый столбец).

Описание признаков можно найти по ссылке http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html

Вам необходимо построить модель логистической регрессии, которая предсказывает уровень дохода человека. При возможности попробуйте улучшить точность предсказаний (метод score) с помощью перебора признаков.

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LogisticRegression

from matplotlib import pyplot as plt
%matplotlib inline  
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('adult.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
df.shape

(48842, 15)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [18]:
selectedColumns = df[['age', 'race', 'gender','income' ]]

In [19]:
X = pd.get_dummies(selectedColumns, columns = ['race','gender'])

In [20]:
X.head()

,age,income,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male
0,25,<=50K,0,0,1,0,0,0,1
1,38,<=50K,0,0,0,0,1,0,1
2,28,>50K,0,0,0,0,1,0,1
3,44,>50K,0,0,1,0,0,0,1
4,18,<=50K,0,0,0,0,1,1,0

In [21]:
del X['income']
X.head()

,age,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male
0,25,0,0,1,0,0,0,1
1,38,0,0,0,0,1,0,1
2,28,0,0,0,0,1,0,1
3,44,0,0,1,0,0,0,1
4,18,0,0,0,0,1,1,0

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [23]:
le.fit(df['income'])

LabelEncoder()

In [24]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [26]:
le.transform(['<=50K', '>50K', '<=50K', '>50K'])

array([0, 1, 0, 1])

In [28]:
y = pd.Series(data = le.transform(df['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
model = LogisticRegression(C = 10)

In [31]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/home/benito/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [32]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.96      0.85      7479
           1       0.28      0.05      0.09      2290

   micro avg       0.75      0.75      0.75      9769
   macro avg       0.53      0.51      0.47      9769
weighted avg       0.65      0.75      0.67      9769

In [33]:
y_pred_proba = model.predict_proba(X_test).tolist()

In [34]:
y_pred_proba[0]

[0.7994194210930933, 0.2005805789069067]

In [35]:
threshold = 0.5 ## играйте с threshold
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.77      0.96      0.85      7479
           1       0.28      0.05      0.09      2290

   micro avg       0.75      0.75      0.75      9769
   macro avg       0.53      0.51      0.47      9769
weighted avg       0.65      0.75      0.67      9769